
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  transform: rotate(0 deg);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.asd {
  display: block;
  p {
    text-align: center;
    span {
      margin-left: 10px;
    }
  }
}

body {
  background: #fff10e;
}
.App-container {
  text-align: center;
  margin: 110px 0;
  a {
    display: block;
    padding: 10px 0;
    transform: rotate(0 deg);
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}